@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "All Department";
}
@if (TempData["AlertMessage"]!=null)
{
    <div class="alert alert-success">
        <strong>Success ! </strong>@TempData["AlertMessage"]
    </div>
}
<br />
<div class="container p-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="p-4">All Department</h3>
        </div>
        <div class="row">
            <div class="col-md-12 p-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DepartmentName</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var department in Model)
                        {
                            <tr>
                                <td>@department.DepartmentId</td>
                                <td>@department.Name</td>
                                <td><a class="btn btn-dark" style="background-color:green;color:white" asp-controller="Department" asp-action="Edit" asp-route-id="@department.DepartmentId">Edit</a></td>
                                <td><a class="btn btn-danger" asp-controller="Department" asp-action="Delete" asp-route-id="@department.DepartmentId">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
